__pycache__
data
Thesis_Book
.ipynb_checkpoints
*.ipynb
/Experimentations
/checkpoints (1)
learned_pd.ipynb
Experimentations/toy_hdf5.py
Experimentations/toy_FBP_tomosipo.py
Experimentations/toy_FBP_implementation.py
sinogram_pixel.py
*.csv
pixel_value_experiment.ipynb
/figures
learned_pd_reference.ipynb
/primal_dual_nets_positional_embedding.py
/tv_checkpoints
reference_cLPD.py
/tv_checkpoints_tv_loss
*.csv
metrics
src/curlyBrace.py
/not_used
checkpoints/cLPD_checkpoints_default/checkpoint_epoch40.pt
checkpoints/cLPD_checkpoints_limited/checkpoint_epoch50.pt
checkpoints/cLPD_checkpoints_sparse/checkpoint_epoch50.pt
checkpoints/UNet_checkpoints_default/checkpoint_epoch45.pt
checkpoints/UNet_checkpoints_limited/checkpoint_epoch45.pt
checkpoints/UNet_checkpoints_sparse/checkpoint_epoch45.pt
