__pycache__
data
Thesis_Book
.ipynb_checkpoints
*.ipynb
/Experimentations
/checkpoints
/checkpoints (1)
learned_pd.ipynb
Experimentations/toy_hdf5.py
Experimentations/toy_FBP_tomosipo.py
Experimentations/toy_FBP_implementation.py
sinogram_pixel.py
*.csv
pixel_value_experiment.ipynb
/figures
learned_pd_reference.ipynb
/full_data_checkpoints
/primal_dual_nets_positional_embedding.py
/tv_checkpoints
/learned_primal_checkpoints
/learned_PDHG_checkpoints
reference_cLPD.py
/cLPD_checkpoints_sparse
/cLPD_checkpoints_default
/cLPD_checkpoints_limited
/LPD_checkpoints_limited
/LPD_checkpoints_sparse
/LPD_checkpoints_default
/tv_checkpoints_tv_loss
*.pt
*.csv
metrics
# docs
src/curlyBrace.py
